/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    macros {
        ctrlshiftescape: ctrlshiftescape {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp &kp>;
            label = "CTRLSHIFTESCAPE";
        };
    };
 
behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt RIGHT_GUI SEMICOLON>, <&kp  LEFT_BRACKET>;
        };
td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt RIGHT_ALT L>, <&kp  APOSTROPHE>;
        };
td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mkp RCLK>, <&kt KP_NUMLOCK>;
        };
td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N9>, <&kt KP_NUMLOCK>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |          

            bindings = <
&kp Q           &kp W           &kp E        &kp R             &kp T    &kp Y      &kp U         &kp I        &kp O            &kp P
&mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G    &kp H      &mt LSHIFT J  &mt RCTRL K  &td1  &td0
&kp Z           &kp X           &kp C        &kp V             &kp B    &kp N      &kp M         &kp COMMA    &kp DOT          &kp FSLH
                                &kp 1        &kp 2         &kp 3     &kp 4  
                                                            &kp 5 &kp 6
            >;
        };

       
    };
};
